/.vs/
/.idea/
Advertisement.App/bin/
Advertisement.App/obj/
Advertisement.Core/bin
Advertisement.Core/obj
Advertisement.Data/bin
Advertisement.Data/obj
Advertisement.Service/bin
Advertisement.Service/obj
